/* ---------- banner ---------- */

.Banner {
	background-image: url(../images/banner-bg.jpg);
	background-size: cover;
    background-repeat: no-repeat;
	padding: 150px 0px;
	background-position: center center;
}

.Banner--content {
    width: fit-content;
    max-width: 450px;
    height: fit-content;
    padding: 2rem;
    background-color: rgba(250,250,250,0.9);
}

/* ---------- END banner ---------- */



/* ---------- container ---------- */

.Banner--container, .Featured-items--container {
    width: 1150px;
    height: 100%;
    margin: 0 auto;
}
.Featured-items--container {
    margin-bottom: 5rem;
}

/* ---------- END container ---------- */

/* ---------- featured items section ---------- */

.Featured-items--title {
    margin: 5rem 0 3rem;
}

.article--box {
    width: calc((100% / 3rem ) / 4);
    border: 1px solid #eee;
    padding: 20px;
}

/* ---------- END featured items section ---------- */