/* ---------- section single product---------- */

.Single-product--image {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 2rem;
}

.Single-product--image img {
    width: 100%;
}

.Single-product--image-thumb {
    width: 100%;
    height: auto;
    margin: 1rem 1rem 0;
}

.Single-product--text {
    padding-left: 2rem;
}

.Single-product--shareText {
    line-height: 30px;
}

.Single-product--tags,
.Single-product--shareItem {
    margin-left: 1rem;
}

.Single-product--shareItem .fa-facebook,
.Single-product--shareItem .fa-twitter,
.Single-product--shareItem .fa-linkedin {
    background-color: rgb(180, 180, 180);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    margin: 0 5px;
}

/* ---------- END section single product ---------- */

/* ---------- header ---------- */

.Single-product--text h4 {
    margin-top: 0;
}

.Single-product--text p {
    line-height: 1.6rem;
}

/* ---------- END header ---------- */

/* ---------- subscribe form ---------- */

input#quantity[type=number] {
    width:60px;
    height: 40px;
    border: 1px solid #eee;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 0 1rem;
    text-align: center;
    overflow-y: hidden;
}

input#quantity::placeholder {
    color: rgb(40, 40, 40);
}

/* ---------- END subscribe form ---------- */

@media screen and (max-width: 1150px) {

    .thumb-03 {
        display: none;
    }

}

@media screen and (max-width: 900px) {

    .Featured-items--filterItem {
        font-size: 0.9rem;
        color: rgb(40, 40, 40);
        font-weight: 600;
        text-decoration: none;
        padding: 0 0 0 1.2rem;
    }

}

/* ---------- END media queries ---------- */